
#switch{
    background-image: linear-gradient(to left,rgb(240,240,240),rgb(230,230,230));
    border-right:1px solid rgba(0,0,0,0.02);
}
#switch button{
    -webkit-filter:invert(0.7);
    background-color: transparent !important;
    transition: all 0.2s;
}
#switch button:hover,
#switch button.hoveractive{
    -webkit-filter:invert(1);
}
#switch button.active{
    -webkit-filter:invert(0.4);
    background-color:rgba(255,255,255,.2) !important;
    box-shadow:none !important;
}


#browser.native .vivaldi{
    background-image: url(/tweaks/addressbar/vivaldi.png) !important;
    background-size:16px !important;
    -webkit-filter: invert(0.6);
    transition: all 0.2s;
    background-repeat: no-repeat;
}
#browser.native .vivaldi:hover{
    -webkit-filter: invert(0.3);
}
#browser.native .vivaldi svg{
    display: none !important;
}

#switch .button-toolbar{
    -webkit-filter:invert(0.7);
    max-width: none !important;
}
#switch .button-toolbar:disabled{
    -webkit-filter:invert(0.7) !important;
}
#switch .button-toolbar:hover,
#switch .button-toolbar.tabs.hoveractive{
    -webkit-filter:invert(1);
}
