#switch button.tabs {
	background-image: url(/tweaks/panel-tabs/panel-tabs-regular.png)
}
#switch button.tabs.active {
	background-image: url(/tweaks/panel-tabs/panel-tabs-active.png)
}
@media (-webkit-min-device-pixel-ratio:2) {
	#switch button.tabs {
		background-image: url(/tweaks/panel-tabs/panel-tabs-regular@2x.png)
	}
}
@media (-webkit-min-device-pixel-ratio:2) {
	#switch button.tabs.active {
		background-image: url(/tweaks/panel-tabs/panel-tabs-active@2x.png)
	}
}

#tabs-container{
	position: absolute;
	width: 160px;
	height:80%;
	top:10%;
	left:50px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
	transition-duration: 0.2s;
	transition-property: opacity,visibility;
}
#tabs-container:not(.tweak-show){
	visibility: hidden;
	opacity: 0;
}
#tabs-container.tweak-show{
	visibility: visible;
	opacity: 1;
}
 #tabs-container.left #tabs .trash{
	position: absolute;
	bottom: 0;
	right: 40px;
}
 #tabs-container.left #tabs .newtab{
	position: absolute;
	bottom: 0;
	left: 40px;
}

/*#tabs-container{
	width: 180px;
	height: calc(100% - 35px);
	top:35px;
	left:34px;
	box-shadow: 1px 0 rgba(117,119,121,.2);
}*/
