#switch button.tabs {
	background-image: url(/tweaks/panel-tabs/panel-tabs-regular.png)
}
#switch button.tabs.active {
	background-image: url(/tweaks/panel-tabs/panel-tabs-active.png)
}
@media (-webkit-min-device-pixel-ratio:2) {
	#switch button.tabs {
		background-image: url(/tweaks/panel-tabs/panel-tabs-regular@2x.png)
	}
}
@media (-webkit-min-device-pixel-ratio:2) {
	#switch button.tabs.active {
		background-image: url(/tweaks/panel-tabs/panel-tabs-active@2x.png)
	}
}

#tabs-container{
	position: absolute;
	z-index: 1;
	width: 160px;
	height:80%;
	top:10%;
	left:50px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
	transition:all 0.2s;
}
#tabs-container:not(.tweak-show){
	visibility: hidden;
	opacity: 0;
}
#tabs-container.tweak-show{
	visibility: visible;
	opacity: 1;
}
/*#tabs-container .tab-spacer{
	display: none;
}
 #tabs-container.left #tabs .trash{
	margin-left: auto;
	margin-right: 40px;
	margin-top: -30px;
}
 #tabs-container.left #tabs .newtab{
	margin-left: 40px;
	margin-top:auto;
}*/
