#browser:not(.mac).native.address-top:not(.tabs-top) #header{
    position:absolute;
    top:5px;
}

#browser.address-top:not(.tabs-top) .toolbar-addressbar{
    width: 500px;
    left:calc(50% - 250px);
    position: absolute;
    box-shadow: none;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: rgba(0,0,0,0.1);
    /*top:-35px;*/
    transition: top 0.2s;
}
#browser.address-top:not(.tabs-top) .toolbar-addressbar:not(.tweak-show){
    top:-35px;
}
#browser.address-top:not(.tabs-top) .toolbar-addressbar.tweak-show{
    top:0;
}
#browser.address-top:not(.tabs-top) .toolbar-addressbar>*:not(.addressfield){
    display: none;
}
.startpage{
    padding-top:35px;
}
.startpage-navigation{
    background:none !important;
    background-image:none !important;
    box-shadow: none !important;
}
.startpage-navigation-group{
    padding-top:5px;
}

#switch .button-toolbar.back{
    margin-top:30px;
}

#browser:not(.mac).native.address-top:not(.tabs-top) #switch>*:first-child{
    margin-top:30px;
}

#switch button.tabs.button-toolbar {
	background-image: url(/tweaks/popup-tabs/panel-tabs-button.png)
}
@media (-webkit-min-device-pixel-ratio:2) {
	#switch button.tabs.button-toolbar {
		background-image: url(/tweaks/popup-tabs/panel-tabs-button@2x.png)
	}
}

#switch .button-toolbar{
    -webkit-filter:invert(0.5);
    max-width: none !important;
}
#switch .button-toolbar:disabled{
    -webkit-filter:invert(0.5) !important;
}
#switch .button-toolbar:hover,
#switch .button-toolbar.tabs.hoveractive{
    -webkit-filter:invert(0.7);
}

#addressbar-hover{
    width: 100%;
    height: 5px;
    top:0;
    left:0;
    position: absolute;
    z-index: 1000;
}
#browser:not(.native) #addressbar-hover{
    top:25px;
}

@media screen and (max-width:625px){
    #browser.address-top:not(.tabs-top) .toolbar-addressbar{
        width:80%;
        left:10%;
    }
}
